*{
    margin: 0;
    padding: 0;
}
body{
    background: url('assets/images/fast-food.avif');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 100px;
    padding-left: 60px;
}

.nav{
    display: flex;
    align-items: center;
}
.nav h1{
    font-size: 70px;
    color: rgb(55, 42, 42);
}
.nav-img{
    width: 150px;
}
.sign-up{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    max-width: 500px;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: 250px;
}
.sign-up div {
    font-size: 25px;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sign-up div input{
    border: none;
    height: 40px;
    border-radius: 15px;
    margin: 5px;
    padding: 10px;
}
.sign-up button{
    height: 50px;
    width: 100px;
    margin-top: 15px;
    border: none;
    background-color: green;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
